<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/src/view/style.css" />
    <title>Vendor Machine</title>
</head>

<body>
    <div class="container">
        <div class="balance">
            <div class="balance-header row">
                <img width="60" height="60" src="/src/view/assets/coin.png" />
                <h3> Balance <b>12.55</b></h3>
            </div>
            <div class="balance-content row">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">One Cent</th>
                            <th scope="col">Two Cents</th>
                            <th scope="col">Five Cents</th>
                            <th scope="col">Ten Cents</th>
                            <th scope="col">Twenty Cents</th>
                            <th scope="col">Fifty Cents</th>
                            <th scope="col">One Euro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="balance-content row">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Cache amount">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
                </div>
            </div>
        </div>
        <div class="row">
            <textarea rows="10" style="width: 100%">

            </textarea>
        </div>
    </div>
</body>

</html>