<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
    <title>Vendor Machine</title>
</head>

<body>
    <div class="container">
        <div class="balance-content row">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="changeAmount" placeholder="Cache amount">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btnSend">Send</button>
                    <button class="btn btn-outline-secondary" type="button" id="btnGetBalance">Get Balance</button>
                    <button class="btn btn-outline-secondary" type="button" id="btnReset">Reset</button>
                </div>
            </div>
        </div>
        <div class="row">
            <textarea rows="10" id="responseText">
            </textarea>
        </div>
    </div>
    <script>
        window.onload = function () {

            const request = (req) => {
                return fetch(req.url,
                    {
                        method: req.method,
                        mode: 'cors',
                        cache: 'no-cache',
                        credentials: 'same-origin',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: req.data ? JSON.stringify(req.data) : null
                    }).then(response => response.json())
            }

            const btnSend = document.getElementById('btnSend');
            const btnGetBalance = document.getElementById('btnGetBalance');
            const btnReset = document.getElementById('btnReset');
            const changeAmountInput = document.getElementById('changeAmount');
            const responseTextarea = document.getElementById('responseText');

            btnReset.addEventListener("click", function (event) {
                responseTextarea.value = '';
                changeAmountInput.value = '';
            })

            btnSend.addEventListener("click", function (event) {
                const amount = parseFloat(changeAmountInput.value)
                request({
                    url: "https://jm502ytdr8.execute-api.us-west-2.amazonaws.com/dev/calculate-change",
                    method: 'POST',
                    data: { amount }
                }).then(resp => {
                    responseTextarea.innerText = JSON.stringify(resp, null, 1);
                }).catch(err => console.error(err));
            });

            btnGetBalance.addEventListener("click", function (event) {
                request({
                    url: "https://jm502ytdr8.execute-api.us-west-2.amazonaws.com/dev/balance",
                    method: 'GET',
                }).then(resp => {
                    responseTextarea.innerText = JSON.stringify(resp, null, 1);
                }).catch(err => console.error(err));
            });
        }
    </script>

</body>

</html>